.footer{
    text-align: center;
}
body{
    background-color: blanchedalmond;
}
#hom{
    background-color: red;
}
#si{
    color: red;
}
#gq{
    color: red;
}

body{
    background-color: blanchedalmond;
}
a{color: red;}